// @use '../abstracts/mixins' as *;
@use '../abstracts/colours' as *;
@use '../utils/grid' as *;





// font imports // 


// secondary font
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// primary font 

@font-face {
    font-family: 'Messina Sans';
    src: url('/assets/fonts/MessinaSans-Light.otf') format('embedded-opentype');

    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Messina Sans';
    src: url('/assets/fonts/MessinaSans-Book.otf') format('embedded-opentype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Messina Sans';
    src: url('/assets/fonts/MessinaSans-SemiBold.otf') format('embedded-opentype');

    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Messina Sans';
    src: url('/assets/fonts/MessinaSans-Book.otf') format('embedded-opentype');

    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Messina Sans';
    src: url('/assets/fonts/MessinaSans-BoldItalic.otf') format('embedded-opentype');

    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Messina Sans';
    src: url('/assets/fonts/MessinaSans-RegularItalic.otf') format('embedded-opentype');

    font-weight: 400;
    font-style: italic;
    font-display: swap;
}





// Mixin for responsive font size using clamp with min and max values
// $min-font-size: Minimum font size in rem for small screens
// $max-font-size: Maximum font size in rem for larger screens


@mixin responsiveFontSize($min-font-size, $max-font-size) {
	
	font-size: $min-font-size;
	
	@include respond-to(md){
		font-size: clamp($min-font-size, $min-font-size + 1vw, $max-font-size);

	}
	@include respond-to(xl){
		font-size: $max-font-size;
	}
  }
  

// Mixin to convert letter-spacing from rem to em
// $letter-spacing-rem: The letter spacing in rem based on a 16px root font size
// $font-size: The font size of the element in rem

@mixin letterSpacingEm($letter-spacing-rem, $font-size) {
	// Calculate the letter-spacing in em based on the font size
	letter-spacing: #{$letter-spacing-rem / $font-size}em;
  }




// global type variables
$primary-font: 'Messina Sans', sans-serif;
$secondary-font: "Chivo Mono", monospace;

// font hierachy

@mixin h-one{
	@include responsiveFontSize(2.0625rem, 3.75rem); // font size
	@include letterSpacingEm(-0.1125rem, 3.75rem);
	font-family: $primary-font;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; 
	color: $darkNavy;
	-webkit-font-smoothing: antialiased;	
}

.h1, .large-header {
	@include h-one;
}


.h1, .large-header {
	@include h-one;
}

// h2: used for headings in all flexes underneath the page header, which uses h1

@mixin h-two {
	font-family: $primary-font;
	@include responsiveFontSize(1.5625rem, 2.8125rem); // font size
	@include letterSpacingEm(-0.04688rem, 1.5625rem);
	line-height: 104.4%;
	font-weight: 700;
	font-style: normal;
	color: $darkNavy;
	-webkit-font-smoothing: antialiased;

}

.h2, .large-header {
	@include h-two;
}

// h3: used for subheadings within flexes, after an h2
$hthree : 38;
@mixin h-three{
	font-family: $primary-font;
    font-size: $hthree + px;
	line-height: 1.05em;
	font-weight: 700;
	letter-spacing: -0.03em;
	color: $darkNavy;
	-webkit-font-smoothing: antialiased;
	@include respond-to(md) {
	    font-size: $hthree * 0.8 + px;
	}
	@include respond-to(lg) {
	    font-size: $hthree * 0.9 + px;
	}
	@include respond-to(xl) {
	    font-size: $hthree + px;
	}
	@include respond-to(tablet) {
		font-size: $hthree * 0.8 + px;
	}
	@include respond-to(mobile) {
	    font-size: $hthree * 0.7 + px;
	}
	@include respond-to(sm) {
	    font-size: $hthree * 0.7 + px;
	}	
}

.h3, .medium-header {
	@include h-three;
}

// h4 
$hfour : 28;
@mixin h-four{
	font-family: $primary-font;
    font-size: $hfour + px;
	line-height: 1.05em;
	font-weight: 600;
	letter-spacing: -0.03em;
	color: $darkNavy;
	-webkit-font-smoothing: antialiased;
	@include respond-to(md) {
	    font-size: $hfour * 0.75 + px;
	}
	@include respond-to(lg) {
	    font-size: $hfour * 0.9 + px;
	}
	@include respond-to(xl) {
	    font-size: $hfour + px;
	}
	@include respond-to(tablet) {
	    font-size: $hfour * 0.8 + px;
	}
	@include respond-to(mobile) {
	    font-size: $hfour * 0.6 + px;
	}
	@include respond-to(sm) {
	    font-size: $hfour * 0.6 + px;
	}	
}

.h4 {
	@include h-four;
}


// h4 v2
$hfour2 : 24;
@mixin h-four-2{
	font-family: $primary-font;
    font-size: $hfour2 + px;
	line-height: 1.05em;
	font-weight: 700;
	letter-spacing: -0.03em;
	color: $darkNavy;
	-webkit-font-smoothing: antialiased;
	@include respond-to(md) {
	    font-size: $hfour2 * 0.75 + px;
	}
	@include respond-to(lg) {
	    font-size: $hfour2 * 0.9 + px;
	}
	@include respond-to(xl) {
	    font-size: $hfour2 + px;
	}
	@include respond-to(tablet) {
	    font-size: $hfour2 * 0.8 + px;
	}
	@include respond-to(mobile) {
	    font-size: $hfour2 * 0.6 + px;
	}
	@include respond-to(sm) {
	    font-size: $hfour2 * 0.6 + px;
	}	
}

.h4-2 {
	@include h-four-2;
}

// h4 v2
$hfour3 : 22;
@mixin h-four-3{
	font-family: $primary-font;
    font-size: $hfour3 + px;
	line-height: 1.05em;
	font-weight: 600;
	letter-spacing: -0.03em;
	color: $darkNavy;
	-webkit-font-smoothing: antialiased;
	@include respond-to(md) {
	    font-size: $hfour3 * 0.75 + px;
	}
	@include respond-to(lg) {
	    font-size: $hfour3 * 0.9 + px;
	}
	@include respond-to(xl) {
	    font-size: $hfour3 + px;
	}
	@include respond-to(tablet) {
	    font-size: $hfour3 * 0.8 + px;
	}
	@include respond-to(mobile) {
	    font-size: $hfour3 * 0.6 + px;
	}
	@include respond-to(sm) {
	    font-size: $hfour3 * 0.6 + px;
	}	
}

.h4-3 {
	@include h-four-3;
}


// h5: used for small titles and subheadings. - title tag
$hfive : 14;

@mixin h-five{
	font-family: $secondary-font;
	@include responsiveFontSize(0.75rem, 0.9375rem); 
	line-height: normal;
	font-weight: 300;
	color: $darkNavy;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;

}

.h5 {
	@include h-five;
}


// h6: used for categories and tags. 
$hsix : 11;

@mixin h-six {
	font-family: $primary-font;
    font-size: $hsix + px;
	font-weight: 200;
	line-height: 1em;
	// letter-spacing: -0.03em;
	color: $darkNavy;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	@include respond-to(md) {
	    font-size: $hsix * 0.8 + px;
	}
	@include respond-to(lg) {
	    font-size: $hsix * 0.9 + px;
	}
	@include respond-to(xl) {
	    font-size: $hsix + px;
	}
	@include respond-to(tablet) {
	    font-size: $hsix * 0.8 + px;
	}
	@include respond-to(mobile) {
	    font-size: $hsix * 0.7 + px;
	}
	@include respond-to(sm) {
	    font-size: $hsix * 0.7 + px;
	}	
}

.h6 {
	@include h-six;
}

blockquote {
	@include h-two;
}




@mixin body{
 	font-family: $primary-font;
    font-size: 0.72727rem;
    line-height: 1.04545rem;
	-webkit-font-smoothing: antialiased;
	color: $darkNavy;

}

.body{
	@include body;
}





.link{
	@include body;
	font-size: 16;
}

.p, .plain-text {       
	@include body;
}

.text-white{
	color: white!important;

}

.text-dark{
	color: $darkNavy!important;

}


body{
	@include body;
	margin-bottom: 0;
}

blockquote {
  font-style: italic;	
}

.medium-text{
	font-weight: 500;
}

strong, b, .bold {
    font-weight: 700;
}

em, i, .italic {
    font-weight: 700;
}


ol, ul, li {
	@include body;
	color: black;
}

.p, .plain-text {
	@include body;
}

ul li {
  list-style-type: none;
  
}

ol li {
  list-style-type:none;
//   margin-left: 1rem;
	// &::marker{
	// 	@include h-one;
	// 	@include respond-to(md){
	// 		@include h-two;
	// 	}
	// 	color: black;
	// }
}

// ol li {
//   list-style-type:decimal;
//   margin-left: 1rem;
// 	&::marker{
// 		@include h-one;
// 		@include respond-to(md){
// 			@include h-two;
// 		}
// 		color: black;
// 	}
// }

a {
	
	text-decoration: none;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}


textarea{
	@include body;
	font-weight: 600;
	padding: 10px 20px;
	display: block;
}


.bold {
  font-weight:700;
}

.italic{
  font-style: italic;	    
}

.caps{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

input, textarea{
     font-family: $primary-font;
     font-weight: 400;
}
