// Theme colours

$darkNavy: #112343;
$midNavy: #dbdee3;
$lightNavy: #f3f4f6;

$cobaltBlue: #2A5AD5;

$skyBlue: #46D1EE;
$midSkyBlue: #91EAFF;
$lightSkyBlue:#CDF5FF;
$lightLightSkyBlue: #DAF6FC;

$green: #A8E332;
$midGreen: #dcf4ad;
$lightGreen: #eef9d6;


$mintGreen: #1ADDAE;
$midMintGreen: #a2f1de;
$lightMintGreen: #D1F8EE;

$yellow: #FBDB34;
$midYellow: #fdf1ae;
$lightYellow: #FEF6CC;

$lightGrey: #f4f4f4;
$midGrey: #AFAFAF;
$grey: #F3F4F6;
$greyFour: #F5F5F5;
$greyFive: #D9D9D9;

// Colour utility classes

.dark-navy{
    background-color: $darkNavy;
}

.light-navy{
    background-color: $lightNavy;
}

.cobalt{
    background-color: $cobaltBlue;
}

.sky-blue{
    background-color: $skyBlue;
}

.mid-sky{
    background-color: $midSkyBlue;
}

.light-sky{
    background-color: $lightSkyBlue;
}

.mint{
    background-color: $mintGreen;
}

.light-mint{
    background-color: $lightMintGreen;
}

.green{
    background-color: $green;
}

.yellow{
    background-color: $yellow;
}

.grey{
    background-color: $grey;
}





