// Theme colours

$darkNavy: #112343;
$lightNavy: #D4DEF7;
$cobaltBlue: #2A5AD5;
$skyBlue: #46D1EE;
$lightSkyBlue: #91EAFF;
$lightMintGreen: #D1F8EE;
$mintGreen: #1ADDAC;
$green: #A8E332;
$lightYellow: #FEF6CC;
$yellow: #FBDB34;
$grey: #F3F4F6;



