
.section_big_text {
    @include sections_padding;
    &.blur {
        filter: blur(30px);
        @include transition;
    }
    .title_cont {
        .title_wrap {   
            text-align: center;
            width: 60%;
            padding-bottom: 20px;
        }
    }

}