
.section_iframe {
    @include sections_padding;
    .container {
        .iframe_grid {
            display: grid;
            gap: 40px;
            &.two_cols {
                grid-template-columns: 1fr 1fr;
            }
            .iframe_wrap {
                .placeholder_wrap {
                    width: 100%;
                    height: 20vw;
                    color: $white;
                    background-image: linear-gradient(
                        45deg, 
                        rgba(0,0,0,0.5) 25%, 
                        transparent 25%, 
                        transparent 50%, 
                        rgba(0,0,0,0.5) 50%, 
                        rgba(0,0,0,0.5) 75%, 
                        transparent 75%, 
                        transparent
                        );
                    background-size: 50px 50px;
                }
            }
        }
    }
}