@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

section.image-section{

    @include sections_padding;

    .img-wrap{
        aspect-ratio: 75/40;
        width: 100%;
        height: auto;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .img-caption{

        @include captionBody($skyBlue);

    }
}