@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

section.section_info_cards{

    @include sections_padding;

    .background-container{

        /*------------------------ Default / Mobile Styles -------------------------------*/

            
        // if add background option is selected

        &.add-background{
            background-color: $lightLightSkyBlue;
            // @include h-two;
            padding: 6rem 0;
        }

        .section-content{

            width: 90%;
            margin: 0 auto;



    
    
            .title-tag{
                @include title_tag($darkNavy, $skyBlue)
            }
    
            .top-section{
    
                @include body;
                margin-bottom: 4em;
                
    
                .title-wrap{
    
                    .heading{
                        @include h-one;
                        margin-bottom: 0.7em;
                        padding-right: 3vw;
                    }
    
                }
    
                .body{
                    @include body;
                    padding-right: 6vw;
                }
    
            }
            .cards-section{

                //splide controls
                .slider-button-container{
                    padding: 2em 0 1em 0;
                    width: fit-content;
                    margin: 0 auto;
                    justify-content: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;
                    
 
                    button{
                        @include border-radius;
                        width: 1.9rem;
                        height: 1.9rem;
                        aspect-ratio: 1;
                        padding: 0;
                        border: none;
                        background-color: $darkNavy;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                   

                        img{
                            height: 35%;
                            width: auto;
                        }
                    }
                }

                .splide__pagination{

                    button.splide__pagination__page{
                        height: 0.5em;
                        width: 0.5em;
                        border-radius: 50%;
                        background-color: white;
                        margin-right: 0.6em;
                        border: 1px solid $darkNavy;
                        padding: 0;

            
                        &.is-active{
                            background-color: $darkNavy;
                        }
                    }

                }
    
    
    
    
    
                .info-card{
    
                    display: flex;
                    justify-content: center;
                    margin-bottom: 3rem;
                    padding-bottom: 1em;
                    border-bottom: 1px solid $lightNavy;

                    &.slider-card{
                        border-bottom: none;
                        text-align: center;
                        margin-bottom: 0;

                        .icon-container{
                            margin-left: auto;
                            margin-right: auto;

                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                        .text-content{
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    
    
                    .text-content{
    
                        max-width: 75%;
                        margin-right: auto;
                        
                        // numbered version
    
                        .tag{
                            @include rem-to-em(margin, 2rem, 0.6875rem, 1rem, (bottom))
                        }

                        //icon version

                        .icon-container{
                            @include body;
                            @include border-radius;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            height: 5.3em;
                            aspect-ratio: 1;

                            margin-bottom: 2.62em;

                            svg{
                                max-height: 4rem;
                            }

                        }
        
                        .card-title{
                            @include h-three;
                            @include rem-to-em(margin, 2rem, 2.8125rem, 1rem, (bottom))
                        }
        
                        .card-body{
                            @include body;
                        }

                        a.btn{
                            margin-top: 1.8em;
                        }
                    
                    }
    
    

    
                    
                }
            }
    
    
    
            /*------------------------ Desktop Styles -------------------------------*/
    
            &{
                @include respond-to(md){

                    &.add-background{
                        @include rem-to-em(padding, 3rem, 1rem, 1rem, (top, bottom));
                    }
    
    
                    .top-section{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1vw;
                        margin-bottom: 8em;
    
    
                    }
    
                    .cards-section{
                        padding-right: 6vw;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        row-gap: 6rem;
                        
    
                        .info-card{
                            border-right: 1px solid $lightNavy;
                            margin-bottom: 0;
                            border-bottom: none;
                            // padding-right: 3vw;

                            .text-content{
                                margin-left: auto;
                            }

                            // centred version

                            &.centered{

                                text-align: center;

                                .icon-container{
                                    margin-left: auto;
                                    margin-right: auto;
                                }

                            }

                        }
    
                        // conditional alignment based on grid position
    
                        // Every 1st, 4th, 7th, 10th, etc
                        & > :nth-child(3n + 1) {
                            justify-content: flex-start;
                        }
                        
                        // Every 2nd, 5th, 8th, 11th, etc
                        & > :nth-child(3n + 2) {
                            justify-content: center;
                        }
                        
                        // Every 3rd, 6th, 9th, 12th, etc 
                        & > :nth-child(3n) {
                            justify-content: flex-end;
                            border-right: none;
                        }
    
    
                    }
    
    
                }
            }
    
        }
    }


}