
// todo: make version with different animation!
.section_partners {
    @include sections_padding;
    .container {

        .partners_container {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            width: 100%;
            overflow: hidden;
            .partners_wrap {
                padding: 20px 0;

     
                    div{
                        padding: 0 20px;
                    }
         
            }
        }

    }
}