@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;


section.section_posts_agg{

    // @include sections_padding;

    /*------------------------ Post Feed Layout -------------------------------*/

    .section-wrapper.splide.post-feed-carousel{

        /*------------------------ Default/Mobile Styles -------------------------------*/
        
        padding: 5vw 0 7vw 0;

        .text-container{

            padding: 0 7vw;
            margin-bottom: 4vw;

            .text-inner{
                @include mobile_text_col_spacing;
            }


            .title-tag{
                @include title_tag($darkNavy, $cobaltBlue);
    
            }

            a.btn{
                margin-top: 0.5em;
            }

            .button-container{
                display: none;
            }
        }

        .splide__slide{

            padding: 0 1rem;
            border-left: 1px solid $lightNavy;

            a{
                &:hover{
                    text-decoration: none;
                }

                div.post-card{


                    padding: 1.3rem;
    
                    @include postCard;
    
                }

            }






        }

        
        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to('md'){

                
                padding-bottom: 0!important;

                div.text-container{

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: max-content;
                    column-gap: 15vw;

                    .heading{
                        grid-column: 1;
                        grid-row: 2;

                    }

                    .button-container{
                        display: block;
                        grid-column: 2;
                        grid-row: 2;
                        align-self: end;
                        justify-self: end;
                        display: flex;
                        align-items: flex-end;
                    }

                }

                

            }
        }
    }

    /*------------------------ Press Releases Layout -------------------------------*/

    .section-wrapper.splide.press-releases-carousel{

        /*------------------------ Default/Mobile Styles -------------------------------*/
        
        padding: 5vw 0 7vw 0;

        .text-container{

            padding: 0 7vw;
            margin-bottom: 2vw;


            .title-tag{
                @include title_tag($darkNavy, $cobaltBlue);
             
    
            }
            .heading{
                margin-bottom: 0.5em;
            }

            .button-container{
                display: none;
            }
        }

        li.splide__slide {
        display: flex;
        flex-direction: column; 
        gap: 0.5rem;

            a.stacked-slide {
                &:hover{
                    text-decoration: none;

                }
                
                height: 50%;
                display: flex;
                flex-direction: column;
        
                .press-release-card {
                    display: grid;
                    
                    height: 100%; 

                    @include postCard;

                    
            
        
                    .text-col{
                        @include h-two;
                        padding: 1em 1.5em;
                        grid-column: span 5;
                        overflow-x: hidden;

                        .text-content{
                            width: 60%;
                            min-height: 30rem;
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            .card-bottom{
                                margin-top: auto;
                            }

                        }


                    }
        
                    .img-wrap{
        
                        display: none;
        
        
                    }
            
                    
                    }
            }

            // styling for even slides

            .stacked-slide:nth-child(2) .press-release-card {

             
                
            
                .text-col {
                    order: 2!important;
                  
                  
                }



            }
        }




        .vertical-bars{
            @include h-four;
            position: absolute;
            top: 0;
            right: -4em;
            height: 100%;
            display: flex;
            width: fit-content;
            opacity: 0.5;


        }

        
        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to('md'){

                padding: 2.69rem;

                
                .text-container{

                    padding: 0 7vw;
                    margin-bottom: 2vw;
                    display: flex;
                    justify-content: space-between;
                    gap: 12vw;

                    .text-inner{
                        @include mobile_text_col_spacing;
                        max-width: 40%;

                        a.btn{
                            margin-bottom: 0;
                        }
                    }



                    .button-container{
                        display: block;
                        grid-column: 2;
                        grid-row: 2;
                        align-self: end;
                        justify-self: end;
                        display: flex;
                        align-items: flex-end;
                    }
        
        
                }
        
                li.splide__slide {
                display: flex;
                flex-direction: column; 
                gap: 0.5rem;
        
                    a.stacked-slide {
                        &:hover{
                            text-decoration: none;
        
                        }
                        
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                
                        .press-release-card {
                            display: grid;
                            grid-template-columns:repeat(9, 1fr);
                            
                            height: 100%; 
        
                            @include postCard;
        
                            
                    
                
                            .text-col{
                                @include h-two;
                                padding: 1em 1.5em;
                                grid-column: span 5;
                                border-right: 0.5rem solid white;
                                overflow-x: hidden;
        
                                .text-content{
                                    width: 60%;
                                    min-height: 30rem;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
        
                                    .card-bottom{
                                        margin-top: auto;
                                    }
        
                                }
        
        
                            }
                
                            .img-wrap{
                                display: block;
                                grid-column: span 4;
                
                
                                img {
                                    
                        
                                width: 100%;
                                height: 100%; 
                                object-fit: cover;
                                }
                
                
                            }
                    
                            
                            }
                    }
        
                    // styling for even slides
        
                    .stacked-slide:nth-child(2) .press-release-card {
        
                     
                        
                    
                        .text-col {
                            order: 2!important;
                            border-right: none;
                            border-left: 0.5rem solid white;
                          
                          
                        }
        
        
        
                    }
                }
        
        
        
        
                .vertical-bars{
                    @include h-four;
                    position: absolute;
                    top: 0;
                    right: -4em;
                    height: 100%;
                    display: flex;
                    width: fit-content;
                    opacity: 0.5;
        
        
                }
                div.text-container{

                    display: flex;
                    justify-content: space-between;
                    gap: 12vw;



                }

                

            }
        }

    }


}
