@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;


section.section_posts_agg{

    @include sections_padding_small;

    /*------------------------ Post Feed Layout -------------------------------*/

    .section-wrapper.splide.post-feed-carousel{

        /*------------------------ Default/Mobile Styles -------------------------------*/
        
        padding: 5vw 0 7vw 0;

        .text-container{

            padding: 0 7vw;
            margin-bottom: 4vw;

            .text-inner{
                @include mobile_text_col_spacing;
            }


            .title-tag{
                @include title_tag($darkNavy, $cobaltBlue);
    
            }

            a.btn{
                margin-top: 0.5em;
            }

            .button-container{
                display: none;
            }
        }

        .splide__slide{

            padding: 0 1rem;
            border-left: 1px solid $lightNavy;

            a{
                &:hover{
                    text-decoration: none;
                }

                div.post-card{


                    padding: 1.3rem;
    
                    @include postCard;
    
                }

            }






        }

        
        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to('md'){

                
                padding-bottom: 0!important;

                div.text-container{

                    padding: 0 12vw;

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: max-content;
                    column-gap: 15vw;

                    .heading{
                        grid-column: 1;
                        grid-row: 2;

                    }

                    .button-container{
                        display: block;
                        grid-column: 2;
                        grid-row: 2;
                        align-self: end;
                        justify-self: end;
                        display: flex;
                        align-items: flex-end;
                    }

                }

                

            }
        }
    }

    /*------------------------ Press Releases Layout -------------------------------*/

    .section-wrapper.splide.press-releases-carousel{

        /*------------------------ Default/Mobile Styles -------------------------------*/
        
        padding: 5vw 0 7vw 0;

        .text-container{

            padding: 0 6vw;
            margin-bottom: 2vw;


            .title-tag{
                @include title_tag($darkNavy, $cobaltBlue);
             
    
            }
            .heading{
                margin-bottom: 0.5em;
            }

            .button-container{
                display: none;
            }
        }

        li.splide__slide {
        display: flex;
        flex-direction: column; 
        gap: 0.5rem;

            a.stacked-slide {
                &:hover{
                    text-decoration: none;

                }
                
                height: 50%;
                display: flex;
                flex-direction: column;
        
                .press-release-card {
                    display: grid;
                    
                    height: 100%; 

                    @include postCardDouble;
                    

                    
            
        
                    .text-col{
                        @include h-two;
                        padding: 1em 1.5em;
                        grid-column: span 5;
                        overflow-x: hidden;

                        .text-content{
                            width: 77%;
                            min-height: 30rem;
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            .card-bottom{
                                margin-top: auto;
                            }

                        }


                    }
        
                    .img-wrap{
        
                        display: none;
        
        
                    }
            
                    
                    }
            }

            // styling for even slides

            .stacked-slide:nth-child(2) .press-release-card {

             
                
            
                .text-col {
                    order: 2!important;
                  
                  
                }



            }
        }




        .vertical-bars{
            @include h-four;
            position: absolute;
            top: 0;
            right: -4em;
            height: 100%;
            display: flex;
            width: fit-content;
            opacity: 0.5;


        }

        
        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to('md'){

                padding: 2.69rem;

                
                .text-container{

                    padding: 0 6vw;
                    margin-bottom: 2vw;
                    display: flex;
                    justify-content: space-between;
                    gap: 12vw;

                    .text-inner{
                        @include mobile_text_col_spacing;
                        max-width: 40%;

                        a.btn{
                            margin-bottom: 0;
                        }
                    }



                    .button-container{
                        display: block;
                        grid-column: 2;
                        grid-row: 2;
                        align-self: end;
                        justify-self: end;
                        display: flex;
                        align-items: flex-end;
                    }
        
        
                }
        
                li.splide__slide {
                display: flex;
                flex-direction: column; 
                gap: 0.5rem;
        
                    a.stacked-slide {
                        &:hover{
                            text-decoration: none;
        
                        }
                        
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                
                        .press-release-card {
                            display: grid;
                            grid-template-columns:repeat(9, 1fr);
                            
                            height: 100%; 
        
                            @include postCardDouble;
        
                            
                    
                
                            .text-col{
                                @include h-two;
                                padding: 1em 1.5em;
                                grid-column: span 5;
                                border-right: 0.5rem solid white;
                                overflow-x: hidden;
        
                                .text-content{
                                    width: 60%;
                                    min-height: 30rem;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
        
                                    .card-bottom{
                                        margin-top: auto;
                                    }
        
                                }
        
        
                            }
                
                            .img-wrap{
                                display: block;
                                grid-column: span 4;
                
                
                                img {
                                    
                        
                                width: 100%;
                                height: 100%; 
                                object-fit: cover;
                                }
                
                
                            }
                    
                            
                            }
                    }
        
                    // styling for even slides
        
                    .stacked-slide:nth-child(2) .press-release-card {
        
                     
                        
                    
                        .text-col {
                            order: 2!important;
                            border-right: none;
                            border-left: 0.5rem solid white;
                          
                          
                        }
        
        
        
                    }
                }
        
        
        
        
                .vertical-bars{
                    @include h-four;
                    position: absolute;
                    top: 0;
                    right: -4em;
                    height: 100%;
                    display: flex;
                    width: fit-content;
                    opacity: 0.5;
        
        
                }
                div.text-container{

                    display: flex;
                    justify-content: space-between;
                    gap: 12vw;



                }

                

            }
        }

    }

    /*------------------------ Single large tile carousel -------------------------------*/

    .section-wrapper.single-tile-carousel-layout{

        /*------------------------ Default / Mobile Styling -------------------------------*/

        @include singleLargeTileCarousel;

        a{
            &:hover{
                text-decoration: none;
            }


        .post-card-large-tile{

            height: 100%;


            .post-card{
                @include postCard;
                @include mobile_text_col_spacing;
                display: flex;
                flex-direction: column;
                padding: 1em 1.5em;
            }

            .img-wrap{
                display: none;
            }

        }


        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to(md){

                .post-card-large-tile{
                    display: grid;
                    grid-template-columns: 1.2fr 1fr;
                    

                    .post-card{
                        padding: 2.69rem;

                        .card-body{
                            flex-grow: 1;
                        }

                    }
                    .img-wrap{
                        display: block;
                        order: 2;
                        aspect-ratio: 27/35;
                    }



                }
                

            }
        }

        }
    }

    /*------------------------ Posts Grid with Filter Layout -------------------------------*/




    .posts-grid-with-filter.section-wrapper{

        position: relative;

        // filter form

        form.filter-form{

            display: flex;
            flex-wrap: wrap;

            & > * {
                margin-bottom: 1rem;
            }

            .custom-dropdown {
                position: relative;
                display: inline-block;
                width: 100%;
            }
            
            // dropdown toggle button
            .dropdown-toggle {

                @include btn_plain_deselected_dropdown;
                margin-right: 1em;
            }
            
            .dropdown-toggle[aria-expanded="true"] {
                background-color: #e0e0e0;
            }
            
            // Dropdown Menu - Hidden by Default 
            .dropdown-menu {
                display: none; 
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: #fff;
                z-index: 1000;
                list-style: none;
                margin: 0;
                padding: 0;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                max-height: 200px; 
                overflow-y: auto;  
            }
            
            /* Dropdown Menu - Visible */
            .dropdown-menu.visible {
                display: block; /* Show menu when it has the "visible" class */
            }
            
            /* Dropdown Menu Items */
            .dropdown-menu li {
                padding: 0.5em 1.5em;
                cursor: pointer;
            }
            
            /* Hover and Focus Styles */
            .dropdown-menu li:hover,
            .dropdown-menu li:focus {
                background-color: $cobaltBlue;
                color: white;
            }
            
            
            /* Accessibility */
            .dropdown-menu li:focus {
                background-color: #e0f7ff;
            }

            button.submit-btn{
                height: 2.6em;
            }
        }

        // mobile filter form

        .mobile-filter-menu{
            position: fixed;
            width: 100%;
            padding-top: 1rem;
            form.filter-form{
                flex-direction: column;
                padding: 1rem;

                ul.dropdown-menu{
                    @include body;
                    display: block;
                    position: initial;
                    box-shadow: none;
                    max-height: 1px;
                    overflow: hidden;
                    opacity: 0;
                    @include transition;

                    li:hover{
                        background-color: $greyFour;
                        color: $darkNavy;
                    }
                }

                button.dropdown-toggle{
                    width: 100%;
                    color: $midGrey;
                    background-color: white;
                    border-bottom: 1px solid rgba($darkNavy, 0.1);

                    &:after{
                        margin-left: auto;
                        transform: rotate(0deg); // Initial rotation
                        transform-origin: center; 
                        @include shorttransition;
                        background-image: url('/assets/images/svg/arrow-right-white.svg'); 
                        background-size: 38%; 
                        background-repeat: no-repeat;           
                        background-position: center;
                        background-color: $cobaltBlue;
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                    }



                    &.active{

                        &::after{
                            transform: rotate(90deg); 
                        }
                        & + ul.dropdown-menu{
                            max-height: 2000px;
                            padding: 0.2em 0 0 0;
                            opacity: 1;

                        }

                    }


                }


            }

            button.submit-btn{
                margin-top: 1rem;
                width: 100%;
                margin-right: 0;
                .btn-arrow-container{
                    margin-left: auto;
                }
            }

        }



        // hiding custom labels for screen readers
        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            clip: rect(0 0 0 0);
            overflow: hidden;
        }

        // overlay slide out filter menu

        .overlay-filter-menu{
            width: 0;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            background-color: white;
            z-index: 99;
            @include shorttransition;
    
            &.menu-open{
                width: 100%;
            }

            div.top-row{

                display: flex;
                justify-content: space-between;
                @include body;
                margin: 0 1em;
                padding: 1em 0;
                border-bottom: 1px solid rgba($darkNavy, 0.1);


                button.filter-overlay-close-btn{
                    background-color: transparent;
                    border: none;
                    display: block;
                    margin-left: auto;
                  
                    text-decoration: underline;
                }

            }




        }



        /*------------------------ Default / Mobile Styling -------------------------------*/

        .top-section{
            margin-bottom: 0.5rem;
            .heading{
                max-width: 8em;
                margin-bottom: 0.5em;

            }
            .title-tag{
                @include title_tag($darkNavy, $skyBlue);
            }

            .filter-btn{
                @include btn_plain;
                margin-bottom: 1rem;
                width: 100%;
                background-color: $darkNavy;
                justify-content: center;

                &:after {
                    content: "";
                    display: inline-block; 
                    background-image: url('/assets/images/svg/chevron-down.svg'); 
                    background-repeat: no-repeat;           
                    background-position: center;
                    width: 20px;
                    height: 20px;
                    margin-left: 0;
                    vertical-align: middle;

            }
                
                

            }

            .filter-entire-wrapper{
                   
                @include body;
                padding: 1em 0;  

                .filter-top-section{

    
                    .sort-container{
                        margin-left: auto;
                        display: flex;
                        gap: 0.1rem;
                        p{
                            @include body;
                        }
    
                        button{
                            @include btn_no_style;

                            &.active{
                                font-weight: 700;
                            }

                        }
                    }


                }
                .filter-form.desktop{
                    display: none
                }
                

            }
        }
        .posts-container{

            .no-posts-msg{
                @include h-four;
                margin: 1em 0;

            }

           

    & > * {
        // Apply different schemes to the first four children
        &:nth-child(4n + 1) {

            .post-card{
                
                @include YellowStyle;
    

            }

        }
        &:nth-child(4n + 2) {
            .post-card{
                @include MintStyle;

            }
        }
        &:nth-child(4n + 3) {
            .post-card{
                @include GreenStyle

            }
        }
        &:nth-child(4n + 4) {
            .post-card{
                @include BlueStyle;
            }
        }
        }


            a.post-card-wrapper-link{
                

                &:hover{
                    text-decoration: none;
                }

                .post-card{
                    @include body;
                    @include postCard;
                    padding: 1.69em;
                    margin-bottom: 4vw;
                    min-height: 25em;
                }

            }



        }


        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to(md){


        .top-section{


            button.filter-btn{
                display: none;
                margin-bottom: 0
            }

            .filter-entire-wrapper{
                display: block;
                border-top: 1px solid rgba($darkNavy, 0.1); 


                .filter-top-section{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1em;


                }

                .filter-form.desktop{
                    display: flex;
                }



                

            }
        }

                .posts-container{
                    @include body;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 1.3em;
                    row-gap: 4vw;

                    .post-card{
                        margin-bottom: 0;
                    }


                }

            }
        }




    }

    /*------------------------ Posts List with Filter Layout -------------------------------*/

    .posts-list-layout.section-wrapper{

        /*------------------------ Default / Mobile Styling -------------------------------*/

        .top-section{
            .heading{
                max-width: 14em;
                margin-bottom: 0.5em;

            }
            .title-tag{
                @include title_tag($darkNavy, $skyBlue);
            }


        }
        .filter-bar{
            border-top: 1px solid rgba($darkNavy, 0.1);    
            @include body;
            padding: 2em 0 3em 0;  

            .filter-button{
                @include btn_plain_deselected;
                margin-bottom: 0.8em;
            

                &.active{
                    background-color: $cobaltBlue;
                    color: white;
                }
            }
        }

        .posts-container{

            .taxonomy-title-container{
                @include body;
                padding: 0.3em 0.7em;
                font-weight: 600;
                line-height: 120%;

            }

            .term-posts{
                a.post-link{

                    &:hover{
                        text-decoration: none;

                        
                    }

                    .post-container{
                        @include h-four;
                        padding: 0.7em 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        &:not(:last-child){
                            border-bottom: 1px solid rgba($darkNavy, 0.1);  
    
                        }
    
    
    
                        .post-title{
                            
                            font-weight: 700;
                        }
    
                        .post-read-more-container{
                            @include body;
    
                            .post-read-more{
                                text-decoration: underline;
                                white-space: nowrap;
    
                                &:after {
                                    content: "";
                                    display: inline-block; 
                                    background-image: url('/assets/images/svg/arrow-right-white.svg'); 
                                    background-size: 38%; 
                                    background-repeat: no-repeat;           
                                    background-position: center;
                                    background-color: $cobaltBlue;
                                    width: 20px;
                                    height: 20px;
                                    margin-left: 2em;
                                    vertical-align: middle;
    
                            }
                        }
    
    
                        }
                    }

                }

            }





        }


        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to(md){


                .top-section{


                }

                .posts-container{
                    @include body;



                }

            }
        }




    }
    



    




}
