.section_project_page_header {
    height: 100vh;
}
.section_project_intro {
    .project_title {

    }
    .project_intro_grid {
        display: grid;
        gap: 20px;
        @include respond-to('lg') {
            grid-template-columns: 1fr 1fr;
        }
    }
}