.section_project_page_header {
    background-size: cover;
    background-position: center;
    height: 80vh;
    opacity: 0;
    @include shorttransition;
    @include respond-to('lg') {
        height: 100vh;
    }
}
.section_project_intro {
    @include sections_padding;
    .project_title {
        padding: 40px 0;
        @include respond-to('lg') {
            padding: 100px 0;
        }
    }
    .title_bar {
        @include title_bar;
    }
    .project_intro_grid {
        height: auto;
        display: grid;
        gap: 20px;
        @include respond-to('lg') {
            grid-template-columns: 1fr 1fr;
            gap: 80px;
        }
        .project_summary {
            padding-bottom: 60px;
        }
        .services_wrap {
            .services_label {
                padding-bottom: 10px;
            }
            .service_boxes {
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr;
                @include respond-to('lg') {
                    width: 70%;
                    gap: calc($conpad * 2);
                }
                .glance_box {
                    @include glance_box;
                    height: auto;
                    width: auto;
                    justify-self: auto;
                    @include respond-to('lg') {
                        min-width: 200px;
                    }
                }
            }
        }
        .brief_wrap {
            display: grid;
            gap: 20px;
            @include respond-to('lg') {
                width: 78%;
            }
        }
    }
}

.other_posts {
    .title_bar {
        @include title_bar;
    }
    .title_box {
        @include title_box;
    }
    .link_box {
        text-align: center;
        margin-top: 30px;
    }
}

