@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

.section_team-grid {
    @include sections_padding;
    

    //----------------Universal Styles---------------------------//

    .small-title{
       
        margin-bottom: 0;
        height: 50px;
    }

    .section-title{
        @include h-three;
        margin-bottom: $px60;

    }

    .intro-text{
        margin-bottom: $px60;

        @include respond-to(lg){
            margin-bottom: 100px;
        }
    }

    //team-grid Styles

    .team-grid{
        display: grid;
        gap: $px80;

            
        @include respond-to(md){
            grid-template-columns: 1fr 1fr;
            column-gap: 120px;
        }

        @include respond-to(lg){
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 180px;
        }

        // board member grid styles if board member option is selected

        &.board{

            @include respond-to(md){
                grid-template-columns: repeat(3, 1fr);
                column-gap: 50px;
            }
    
            @include respond-to(lg){
                grid-template-columns: repeat(4, 1fr);
                column-gap: 60px;
            }

            @include respond-to(xl){
                grid-template-columns: repeat(5, 1fr);
                column-gap: 70px;
            }

        }

        // img top
        .staff-card-wrap {
            display: grid;
            .accord_wrap {
                align-self: end;
            }
        }
        .img-wrap{
            width: 100%;
            height: fit-content;
            

            img{
                object-fit: cover;
                object-position: top;
                width: 100%;
                aspect-ratio: 4/5;
            }
        }


        // accordion section

        .accord_wrap {
            @include transition;
            .staff-name{
    
                margin-top: $px35;
                margin-bottom: $px25;
            }
    
            .job-title{
                @include body;
    
            }
    
            @include transition;
            width: 100%;
    
            .accord_head {
                position: relative;
                display: flex;
                justify-content: space-between;
                padding: 0 0 5px 0;
                border-bottom: solid 1px blue;
                @include shorttransition;
                // cursor: pointer;
    
                .arrow-icon{
                    height: 20px;
                    width: auto;
                    align-self: end;
                    position: relative;
                }
            }
            .accord_body {
                
                @include body;
                max-height: 1px;
                overflow: hidden;
                opacity: 0;
                @include transition;
                
                
    
            }
    
            &:hover {
                cursor: pointer;
                @include transition;
            }
            &.active {
                @include transition;
                .accord_body {
                    max-height: 2000px;
                    padding: 10px 0 30px 0;
                    opacity: 1;
                    
                }
    
                .accord_head .job-title{
                    color: blue;
                    @include shorttransition;
                }
    
                img{
                    transform: rotateZ(90deg);
                    @include shorttransition;
                }
    
            }
        }






            


    }










}