@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

.section_team-grid {
    @include sections_padding;
    

    /*------------------------ Default / Mobile Styles -------------------------------*/

  

    .section-content{

        padding: 0 6vw ;

        .title-wrap{
            max-width: 47rem;
            margin: 0 auto;
            text-align: center;
            @include body;
            @include rem-to-em(margin, 2rem, 1rem, 1rem, (bottom));

            .title-tag{
        
                @include title_tag($darkNavy, $skyBlue);
                @include rem-to-em(margin, 1.5rem, 0.875rem, 1rem, (bottom));
            }
        
            .heading{
                @include h-two;
        
            }
        }

        @include rem-to-em(padding, 3rem, 1rem, 1rem, (bottom));

        // if add background option is selected

        &.add-background{
            background-color: $lightLightSkyBlue;

            @include rem-to-em(padding, 3rem, 1rem, 1rem, (top));
        }

        //-------//

        .sub-team-heading{
            @include h-four;
            @include rem-to-em(margin, 2rem, 1.75rem, 1rem, (bottom));
            margin-top: 2em;
        }


        //team-grid Styles

        .team-grid{
            @include h-two;


            // img top
            .staff-card-wrap {
                @include body;
                display: flex;
                flex-direction: column;
                margin-bottom: 2em;

                .img-wrap{
                    width: 100%;
                    border-bottom: 0.4rem solid $mintGreen;
                    height: fit-content;
                    position: relative; // for bars container
                    @include body;
                    @include rem-to-em(margin, 2.38rem, 1rem, 1rem, (bottom));
                    
    
                    img{
                        object-fit: cover;
                        object-position: top;
                        width: 100%;
                        aspect-ratio: 22/25;
                    }
    
                    .bars-container{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: fit-content;
    
                        .horizontal-bars{
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                    }
                }
    
    
                // accordion section
    
                .accord_wrap {
                    @include transition;
    
                    .staff-name{
                        @include h-four;
                        font-weight: 700;
                        margin-bottom: 0.1em
                    }
            
                    .job-title{
                        @include h-four-4;
            
                    }
            
                    @include transition;
                    width: 100%;
            
                    .accord_head {
                        position: relative;
    
                        padding: 0 0 5px 0;
                        @include shorttransition;
                        // cursor: pointer;
            
                        .arrow-icon{
                            height: 20px;
                            width: auto;
                            align-self: end;
                            position: relative;
                        }
                    }
                    .accord_body {
                        
                        @include body;
                        max-height: 1px;
                        overflow: hidden;
                        opacity: 0;
                        @include transition;
                        
                        
            
                    }
            
                    &:hover {
                        cursor: pointer;
                        @include transition;
                    }
                    &.active {
                        @include transition;
                        .accord_body {
                            max-height: 2000px;
                            padding: 10px 0 30px 0;
                            opacity: 1;
                            
                        }
            
                        .accord_head .job-title{
                            @include shorttransition;
                        }
            
                        // img{
                        //     transform: rotateZ(90deg);
                        //     @include shorttransition;
                        // }
            
                    }

                    


                }

                // colour schemes

                &.mint-scheme{

                    div.img-wrap{
                        border-color: $mintGreen;

                        svg path{
                            fill: $mintGreen;
                        }
                        

                    }
                    button.btn-vtwo{
                        div.btn-arrow-container{
                            background-color: $mintGreen;
                        }
                    }
                    
                   }

                   &.yellow-scheme{

                    div.img-wrap{
                        border-color: $yellow;

                        svg path{
                            fill: $yellow;
                        }

                    }
                    button.btn-vtwo{
                        div.btn-arrow-container{
                            background-color: $yellow;
                        }
                    }
                    
                   }

                   &.blue-scheme{

                    div.img-wrap{
                        border-color: $skyBlue;

                        svg path{
                            fill: $skyBlue;
                        }

                    }
                    button.btn-vtwo{
                        div.btn-arrow-container{
                            background-color: $skyBlue;
                        }
                    }
                    
                   }

            }


        }


        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to(md){

                @include rem-to-em(padding, 5.69rem, 1rem, 1rem, (bottom));

                &.add-background{        
                    @include rem-to-em(padding, 5.69rem, 1rem, 1rem, (top));
                }


                .title-wrap{

                    @include rem-to-em(margin, 5.88rem, 1rem, 1rem, (bottom));
                }

                .sub-team-heading{
                    @include h-four;
                    @include rem-to-em(margin, 4rem, 1.75rem, 1rem, (bottom));
                }

                .team-grid{

                    display: grid;
                    gap: 2em;
                    grid-template-columns: 1fr 1fr;
          
                }

            }

            @include respond-to(lg){

                .team-grid{
                    grid-template-columns: 1fr 1fr 1fr;

                }
            }


        }
    }

}