@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

section.section_testimonial{

    @include sections_padding;

    .container-wrapper{

        // add conatiner at medium breakpoint

        &{
            @include respond-to(md){
                @include container;
            }
        }

        .section-content{

            /*------------------------ Default / Mobile Styling -------------------------------*/
    
            @include body;
            padding: 1em 0;
    
            // no colour scheme
            &.none-style{
                .title-tag{
                    @include title_tag($darkNavy, $cobaltBlue);
                }
    
                .text-content{
                    margin: 0 6vw;
                }
    
            }
    
            .text-content{
                @include body;
                border-top: 1px solid rgba($color: black, $alpha: 0.1);
                border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
                margin: 2em 6vw;
                padding: 6em 0;
    
    
                .title-tag{
                    margin-bottom: 4.5em;
                }
    
                .quote{
                    @include h-two;
                    @include rem-to-em(margin, 3.06rem, 2.8125rem, 1rem, (bottom));
                }
    
                .quote-info{
                    @include captionBody($cobaltBlue);
                }
    
            }
    
            /*------------------------ Desktop Styles -------------------------------*/
    
            &{
                @include respond-to(md){
    
                    padding: 1.9em 0;
    
                }
    
                .text-content{
                    margin: 3.81em 6vw;
                }
            }
    
    
    
    
        }

    }


}