@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;


section.section_text_and_image{
    // styles for all layouts
    @include sections_padding;

    /*----------------------------- Full Colour Layout -----------------------------------------------------------*/
    .section-content.full-colour-layout{

        /*------------------------ Default/Mobile Styles -------------------------------*/
        
        background-color: $cobaltBlue;
        color: white;
        padding: 7vw 5vw;

        .vertical-bars{
            display: none;
        }


        .col{
            margin-right: 3vw;
            .title-tag{
                @include title_tag(white, $skyBlue);
                margin-bottom: 4.5em;
            }
            .heading{
                margin-bottom: 1.5em;
            }
            .body{
                margin-bottom: 3em;
            }
        }

        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to('md'){

            .col{
                width: 50%;
            }

            .vertical-bars{
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: auto;
                
                path{
                    fill: $skyBlue;
                }
            }

                


                

            
        }
    }
}

    /*----------------------------- Rows Layout -----------------------------------------------------------*/
    .section-content.rows-layout{

        /*------------------------ Default/Mobile Styles -------------------------------*/
        

        .title-tag{
            @include title_tag($darkNavy, $cobaltBlue);
            margin-bottom: 2em;
        }
        .heading{
            margin-bottom: 0.7em;
        }
        .body{
            margin-bottom: 1.5em;
        }

        div.img-wrap{
            margin-bottom: 0.3rem;
            width: 100%;
            height: fit-content;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .btn{
            margin-bottom: 1.5rem;
            background-color: $cobaltBlue;
        }

        .vertical-bars{
            display: none;
        }

        div.vertical-bars-container{
            .vertical-bars-small{
                // display: block;
                // position: absolute;
                // top: 0;
                // right: 0;
                
                // object-fit: cover;
                height: 4rem;
                width: fit-content;
                margin-left: auto;
                display: block;
                
                path{
                    fill: $skyBlue;
                }
            }

        }


    

        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to('md'){

                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: max-content max-content 18vw;
                gap: 0.3rem;
                

                .title-tag{
                    grid-area: 1 / 1 / span 1 / span 2;
                }
                .heading{
                    grid-area: 1 / 4 / span 1 / span 7;
                    
                }
                .body{
                    grid-area: 2 / 4 / span 1 / span 3;
                    padding-bottom: 2.5rem;
                   
                }
        
                div.img-wrap{
                    margin-bottom: 0;
                    grid-area: 3 / 4 / span 1 / span 9;
                    
       
                }
        
                .btn{
                    grid-area: 2 / 10 / span 1 / span 2;
                    align-self: center;

                    
                }

                div.vertical-bars-container{

                    
                    grid-area: 3 / 1 / span 1 / span 3;
                    width: 100%;
                    height: 100%;

                    .vertical-bars-small{
                        display: none;
                    }

                    .vertical-bars{
                        transform: scaleX(-1); /* Reflects the element horizontally */
                        display: block;
                        height: 100%;
                        width: auto;
                        
      
                        
                        path{
                            fill: $skyBlue;
                        }
                    }

                }

                div.img-wrap{

                    height: 100%;
                }
        
        }
    }
}




}
