@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;


section.section_text_and_image{

    @include sections_padding;

    .section-wrapper{

        /*------------------------ Default/Mobile Styles -------------------------------*/
        
        background-color: $cobaltBlue;
        color: white;
        padding: 7vw 2vw;

        .vertical-bars{
            display: none;
        }


        .col{
            margin-right: 3vw;
            .title-tag{
                @include title_tag(white, $skyBlue);
                margin-bottom: 4.5em;
            }
            .heading{
                margin-bottom: 1.5em;
            }
            .body{
                margin-bottom: 3em;
            }
        }


    
                

            






        

        
        /*------------------------ Desktop Styles -------------------------------*/

        &{
            @include respond-to('md'){

            .col{
                width: 50%;
            }

            .vertical-bars{
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: auto;
                
                path{
                    fill: $skyBlue;
                }
            }

                


                

            
        }
    }
}




}
