@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

section.section_text {
    @include sections_padding_small;

    .inner-container{
        /*------------------------ Default/Mobile Stlyes -------------------------------*/

        display: flex;
        flex-direction: column;
        gap: 1rem;



        .side-menu-container{

            .parent-page-title{
                @include h-three;
                margin-bottom: 0.5em;
            }

            nav{
                border: 1px solid $skyBlue;
                padding: 1em;
                margin-bottom: 1em;

            }





            a.link{
                @include body;
                @include smallArrowBefore($skyBlue);
                text-decoration: underline;
                display: inline-block;
                margin: 1em 2em 0.7em 0;
                padding: 0.7em 0;
                display: grid;
                grid-template-columns: max-content auto;
            }

            li{
                border-top: 1px solid rgba(black, 0.1);
            }

            
        }
        



        .flex-content{
            
            order: 2;

            .title-tag{
                @include title_tag($darkNavy, $cobaltBlue);
                margin-bottom: 1.7em;
            }
        
            // text editor styling
        
            .text-editor{
        
                @include wysiwyg;
                  
            }
    
            .links-container{

                .links-title{
                    @include h-four;
                    margin-top: 0.3em;

                }


                @include bodyLarge;
                margin: 2em 0;
                padding: 0.5em 2em;
                background-color: $lightSkyBlue;
    
                a.link{
                    @include body;
                    @include smallArrowBefore($skyBlue);
                    text-decoration: underline;
                    display: inline-block;
                    margin: 1em 2em 0.7em 0;
                }
                
            }

        }
    
            /*------------------------ Desktop Styles -------------------------------*/
    

        &{
            @include respond-to(md){

                flex-direction: row;
                gap: 5vw;

                .flex-content{
                    order: 1;
                    max-width: 65%;

                }

                .side-menu-container{
                    order: 2;

                    a.link{
                        display: block;
                    }
                }

            }
        }


    }





}