@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;
@use '../abstracts/variables' as *;


.section_timeline_scroll {
    @include sections_padding_large;

    /*------------------------ Deafult Mobile Styles -------------------------------*/
 
    .title_wrap {

        .title-tag{
            @include title_tag($darkNavy, $cobaltBlue);
            @include rem-to-em(margin, 1.5rem, 0.875rem, 1rem, (bottom));
        }

        .heading{
            @include h-one;
            @include rem-to-em(margin, 10rem, 3.75rem, 1rem, (bottom))
        }





    }


    .timeline_container {

        display: flex;

        .scroll-container{
            @include h-one;
            position: relative;
            display: flex;
            justify-content: center;
            margin-right: 1em;
            width: 2em;
            
            .scroll-line{
                width: 1px;
                height: 100%;
                background-color: $greyFive;
            }

            img.timeline_scroll_icon{
                width: 90%;
                height: auto;
                position: absolute;
                top: 0;
                z-index: 2;
            }
        }

        .timeline_stages{
            // padding-left: 1.3rem;
            width: 100%;

            .timeline_stage:not(:first-of-type){
                margin-top: 1rem;

            }






            .timeline_stage {


                .stage_title_wrap {
                    @include h-one;

                // add circle marker
                
                &::before{
                    @include h-one;
                    content: ""; 
                    width: 20px; 
                    height: 20px; 
                    background-color: $greyFive; 
                    border-radius: 50%; 
                    position: absolute;
                    left: -2.08em;
                    top: 50%;
                    transform: translateY(-50%); /* Center the dot vertically */
                    


                }

                    padding: 1rem 1.8rem;
                    display: flex;
                    align-content: center;
                    align-items: center;



                    .stage_title{
                        @include h-four;
                        flex-grow: 1;
                        width: 75%;

                        button.btn-vthree{

                        }

                    }

                }


                .stage_body_text {
                    padding: 0 1.8rem;
                    @include wysiwyg;

                }

                &.accord_wrap {
                    @include transition;
            

            
                    .accord_head {
                        position: relative;
                        @include shorttransition;
                        // cursor: pointer;
            

                    }
                    .accord_body {
                        
                        @include body;
                        max-height: 1px;
                        overflow: hidden;
                        opacity: 0;
                        @include transition;
                        
                        
            
                    }
            
                    &:hover {
                        cursor: pointer;
                        @include transition;
                    }
                    &.active {
                        @include transition;
                        .accord_body {
                            max-height: 2000px;
                            padding: 10px 0 30px 0;
                            opacity: 1;
                            
                        }
            
                        .accord_head .job-title{
                            @include shorttransition;
                        }
            

            
                    }

                    


                }

                // .bars-container{
                //     position: absolute;
                //     right: 0;
                //     top: 0;
                //     height: 100%;
                //     width: auto;
                //     z-index: 10;
                    
                //     svg{
                //         height: 100%;
                //         width: auto;
                //     }
                // }

            }
        }


        
    }
}