@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

section.video-section{

    @include sections_padding;

    .video-wrapper{
        aspect-ratio: 75/40;
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;


        video{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .play-button {
        @include body;
        position: absolute;
        top: 50%;
        left: 50%;
        border: none;
        cursor: pointer;


        padding: 0.5rem 0.8rem;
        display: flex;
        align-items: first baseline;
        justify-content: space-between;
        // gap: 0.5rem;
        background-color: white;
        flex-grow: 1;
        gap: 0.5rem;
        align-self: end;

        
        
        @include body;

        .play-icon{
            height: 13px;
            width: 18px;
        }
    }
    
    .play-button.hidden {
        display: none;
    }

    .video-caption{

        @include captionBody($skyBlue);

    }
}