@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

section.section_wellbeing_goals{

    @include sections_padding;

    .background-container{

        /*------------------------ Default / Mobile Styles -------------------------------*/

            
        // if add background option is selected

        &.add-background{
            background-color: rgba($skyBlue, 0.05);
            @include rem-to-em(padding, 2rem, 1rem, 1rem, (top, bottom));
        }

        .section-content{

            width: 90%;
            margin: 0 auto;



    
    
            .title-tag{
                @include title_tag($darkNavy, $skyBlue)
            }
    
            .top-section{
    
                @include body;
                margin-bottom: 4em;
                
    
                .title-wrap{
    
                    .heading{
                        @include h-one;
                        margin-bottom: 0.7em;
                        padding-right: 3vw;
                    }
    
                }
    
                .body{
                    @include body;
                    padding-right: 6vw;
                }
    
            }
            .cards-section{
    
    
    
    
    
                .wellbeing-card{

                    &:not(:last-child){
                        border-bottom: 1px solid rgba(#000000, 0.1);

                    }
    

                    margin-bottom: 3rem;
                    
    
                    .text-content{
    
                        

    
                        .tag{
                            @include rem-to-em(margin, 2rem, 0.6875rem, 1rem, (bottom))
                        }


        
                        .card-title{
                            @include h-three;
                            @include rem-to-em(margin, 2rem, 2.8125rem, 1rem, (bottom))
                        }

                        .card-goal-container{

                            position: relative;
                            margin-bottom: 1rem;

                            .card-goal{
                                @include h-four;
                                padding: 0.5em;
                                

                            }

                            .bars-container{
                                position: absolute;
                                height: 100%;
                                width: fit-content;
                                right: 0;
                                top: 0;
                            }

                        }

                       
        
                        .card-body{
                            margin-top: 1em;
                            margin: 1em 0 3em 0;
                            max-width: 40em;
                            
                            @include body;
                        }
                    
                    }
    
    

    
                    
                }
            }
    
    
    
            /*------------------------ Desktop Styles -------------------------------*/
    
            &{
                @include respond-to(md){

                    &.add-background{
                        @include rem-to-em(padding, 3rem, 1rem, 1rem, (top, bottom));
                    }
    
    
                    .top-section{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1vw;
                        margin-bottom: 2em;
    
    
                    }

    
    
                }
            }
    
        }
    }


}