@use '../abstracts/colours' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../utils/grid' as *;

// header{
//     // background-color: $offwhite;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     // header must be assigned a fixed height 
//     // for the dropdown to work nicely
//     height: 50px;
//     z-index: 8;
//     opacity: 0;
//     transform: translate(0, -10vh);
//     @include transition;
//     &.visible {
//         opacity: 1;
//         transform: translate(0, 0);
//         @include longtransition; 
//     }
//     .header_wrap {
//         padding: 10px 0;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         position: relative;
//             .logo {
//                 z-index: 1;
//                 img {
//                     width: 100px;
//                     @include respond-to('md') {
//                         width: 140px;
//                     }
//                 } 
//             }
//         .menu_icon_wrap {
//             // make this sit above the nav when active. 
//             z-index: 1;
//             background-color: #0000003b;
//             backdrop-filter: blur(8px);
//             @include border-radius;
//             padding: 6px 8px;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             @include longtransition;
//             gap: 8px;
//             @include respond-to('md') {
//                 gap: 12px;
//             }
//             .menu_icon {
//                 max-width: 50px;
//             }
//             &.hover {
//                 filter: opacity(0.5);
//                 @include longtransition;
//             }
//             &.active{
//                 background-color: black;
//                 @include longtransition;
//             }
//         }
//     }

//     &.scroll {
//         .container {
//             .logo{
//                 padding: 10px 0;
//                 @include longtransition;
//                 &.long_scroll{

//                 }
//             }
//             // .nav {
//             //     @include transition;
//             // }
//         }
//         @include longtransition;
//     }
// }


header{

    margin-bottom: 4rem;


    .header-bar{
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 99;

        .pre-header{
            background-color: $darkNavy;
            padding: 0.2rem 1rem;
            
    
            .pre-header-right{
                margin-left: auto;
                width: fit-content;
                color: white;
                display: flex;
                align-items: center;
                gap: 1rem;
    
                .search-container{
                    display: flex;
                    gap: 0.25rem;
    
                    img.search-icon{
                        width: 12px;
                        height: auto;
                    }
    
                    input{
                        background-color: $darkNavy;
                        border: none;
                        width: 60px;
                        overflow-x: scroll;
    
                        &::placeholder{
                            color: white;
                        }
                    }
                }
            }
        }
    
        .main-header{
            z-index: 99;

            .main-header-content{

                padding: 1rem 0 0 0;
                display: flex;
                justify-content: space-between;

                .main-header-left, .main-header-centre, .main-header-right{
                    display: flex;
                    flex: 30vw 1 0;
                    align-items: center;
                }

                .main-header-left, .main-header-right{
                    padding-bottom: 1rem;
                }

                .main-header-left{
                    display: flex;
                    flex: 30vw 1 0;
                    align-items: center;
                    img.header-logo{
                        max-width: 173px;
                        height: auto;
                    }
                }
                .main-header-centre{

                    display: none;
                    justify-content: center;
                    gap: 0.3rem;

                    &{
                        @include respond-to(lg){
                            display: flex;
                            flex: 30vw 1 0;
                            align-items: center;
    
                        }
                    }
                    
                    .header-menu-btns{

                        border-bottom: 1rem solid white;

                        button.btn-menu{
                            @include btn-menu;
                        }

                    }

        

        
        
        
                }
                .main-header-right{
        
                    display: flex;
                    flex: 30vw 1 0;
                    align-items: center;
                    justify-content: flex-end;

                    .right-links-container{

                        display:  none;

                        @include respond-to(lg){
                            display: flex;
                        }

                        a{
                            @include body;
                            font-weight: 500;
                        }

                        a:not(:last-child){
                            border-right: 2px solid rgba(black, 0.1);
                            padding-right: 1em;
                        }

                        a:not(:first-child){
                            padding-left: 1em;
                        }

                    }


        
                    .hamburger-icon-container{
        
                        width: 43px;
                        height: 43px;

                        @include respond-to(lg){
                            display: none;
                        }
        
                        button.hamburger-btn{
                            @include buttonsimple;
                            background-color: white;
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            width: 100%;
                            height: fit-content;

                            svg{
                                width: 100%;
                                height: auto;
                            }
               
                        }
                    }
        
                }

            }

    

        }

    }


    //---- Action Nav ----/

    div.action-nav-container{
        top: 2rem; // this will be set by js dependent on height of '.header-bar'
        left: 0;
        width: 100%;
        position: absolute;
        display: none;


        nav.action-nav{
            position: relative;
            z-index: 0;
            opacity: 0;
            min-height: 15vw;
            background-color: white;
            // display: none;
            @include sections_padding;
            @include shorttransition;
    
            .vertical-bars{
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: auto;
                opacity: 0.5;
            }

            .menu-content{
                display: none;
                position: absolute;
                padding-top: 4rem;
                height: calc(100% - 4rem);
                top: 0;
                left: 0;
                right: 0;
                opacity: 0;
                @include easeintransition;

                &.show{
                    display: block;
                    opacity: 1;
                }


                .menu-grid-container{

                    height: 100%;

                    .menu-grid{
                        height: 90%;
                        display: grid;
                        grid-template-columns: 1fr 3fr;

                        .menu-section-title{
                            margin-bottom: 2em;
                        }

            
                        .col:not(:last-child) {
                            border-right: 2px solid $grey;
                        }
    
                        .child-menu-grid{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-auto-rows: max-content;
                        }
            
                        .col, .child-section{
                            padding: 0 1rem;
        
        
            
                            a.parent-page-link{
                                @include h-four-3;
                                @include shorttransition;
                                
        
        
                            }
            
                            ul{
                                margin-top: 0.8rem;
                                margin-bottom: 1.3rem;
                                li{
                                    list-style-type: none;
                                    margin-bottom: 0.5rem;
                                    a{
                                        @include body;
                                        font-weight: 300;
                                    }
                                }
                            }
    
    
                        }
                    }
                }

                // colour vertical bars svg on menu change

                &.discover-content{
                    svg path{
                        fill: $mintGreen;
                    }
                }

                &.explore-content{
                    svg path{
                        fill: $yellow;
                    }
                }

                &.do-content{
                    svg path{
                        fill: $skyBlue;
                    }
                }

            }
    

    
            &.show{
                opacity: 1;
                z-index: 99;
            }
    
        }

    }



    //------ Hero Section ---------//

    section.hero-container{

        /*------------------------ Default/ Mobile Styles -------------------------------*/

        position: relative;
        width: 100%;         
        height: 80vh;    
        
        // --- banner image version
        .banner-img-wrap{

            position: absolute;
            top: 0;
            left: 0;
            aspect-ratio: 1676/600;
            
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            object-fit: cover;



            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .bar-container{
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: fit-content;

                img{
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    opacity: 0.3;
                }
            }

        }
      
        //---- video version

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            object-fit: cover;
        }

        //-----


    
        #hero-overlay{
            position: absolute;
            height: calc(100% + 3.19rem);
            width: 100%;
            top: 0;
    
            .hero-grid{
                display: flex;
                height: 100%;
                align-items: flex-end;
                
    
                &{
                    @include respond-to(md){
                        @include two_columns; 
                        align-items: end;
                     }
        
                }
        
                .hero-text-container{
        
                    padding: 2rem 1.25rem 3.19rem 1.75rem;
                    width: fit-content;

                    // breadcrumbs
                    .breadcrumbs-container{
                        @include breadcrumbs;

                    }
        
                    .title-tag{
                        @include title_tag(white, $yellow);
                        margin-bottom: 1.87rem;
                        
        
                    }
        
                    .heading{
                        @include h-one;
                        color: white;
                        margin-bottom: 2.13rem;
                    }

                    .text{
                        @include body;
                        color: white;
                    }

                    .button-container{
                        .link-button{
                            margin-bottom: 0.5rem;
                        }
                        .link-button:first-child{
                            background-color: $mintGreen;
                        }
                        .link-button:nth-child(2){
                            background-color: $skyBlue;
                        }
                    }
         
        
                }
    
                .col-right{
                    display: none;
    
                    &{
                        @include respond-to(lg){
                            display: flex;
    
                        }
                    }
    
                    a{
                        width: fit-content;
                        margin-left: auto;
                        
    
                        .hero-video-link-container{
                            background-color: $lightSkyBlue;
                            display: grid;
                            grid-template-columns: 1fr 1.2fr;
                            gap: 2rem;
                            padding: 1.19rem;
                            margin-bottom: 1rem;
                            max-width: 27rem;
    
                            .img-wrap{
                                flex-shrink: 0;
                                min-height: 5.8rem;
                                aspect-ratio: 2 /1;
    
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
    
                            }
                 
                                .text-half{
    
                                    display: grid;
                                    
    
                                    .text{
                                        @include h-five;
                                        display: flex;
                                        flex-direction: column;
                                        flex-grow: 1;

                                        p{margin-bottom: 1em;}
        
             
                                     }
        
                                    .play-btn{
                                        padding: 0.5rem 0.8rem;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        // gap: 0.5rem;
                                        background-color: white;
                                        flex-grow: 1;
                                        gap: 0.2rem;
                                        align-self: end;
        
                                        
                                        
                                        @include body;
            
                                        .play-icon{
                                            height: 13px;
                                            width: 18px;
                                        }
                                    }
    
                                }
    
                        }
        
    
                    }
    
                    
    
                }
    
            }
            
    
        }


        /*------------------------ Desktop Styles -------------------------------*/

        &{

            @include respond-to(xl){

                #hero-overlay{

                    .hero-grid{
                        .hero-text-container{
                        
                            padding: 3.38rem 4.62rem 4.12rem 3.81rem;
                            justify-self: start;
                            

                            

                            .title-tag{
                                margin-bottom: 5.88rem;
                                // margin-bottom: 4.27rem; // desktop

                            }

                            .heading{
                                @include h-one;
                                color: white;
                                margin-bottom: 2.81rem;
                                max-width: 39rem;
                            }
                

                        }
                    }
                }

            }

        }


        // level 3 page layout adjustments

        &.level-three-layout{
            height: fit-content;

            .action-nav-container{
                position: absolute;
            }

            #hero-overlay{
                height: fit-content;
                position: relative;
            }

        }

        &.level-two-layout{
            height: fit-content;

            .action-nav-container{
                position: absolute;
            }

            #hero-overlay{
                height: fit-content;
                position: relative;
            }

            .hero-img.img-wrap{
                position: relative;
                width: 100%;
                aspect-ratio: 10.8 / 3.8;

                .breadcrumbs-outer-wrapper{
                    position: absolute;
                    top: -1.2em;
                    left: 4.5vw;

                    .breadcrumbs-container{
                        @include breadcrumbs;
    
                    }
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

        }
        
        
        




    }

                /*------------------------ Level 2 page banner layout -------------------------------*/
            
                .banner-container.level-two-layout{
                
                    background-color: $cobaltBlue;
                    padding: 4rem 0;
                    
    
    
    
                    .text-content{
                       @include container;                                
            
                        .title-tag{
                            @include title_tag(white, $yellow);
                            margin-bottom: 1.87rem;
                            
            
                        }
            
                        .heading{
                            @include h-one;
                            color: white;
                            max-width: 10em;
                            margin-bottom: 2.13rem;
                        }
            
                        .text{
                            @include body;
                            color: white;
                        }
                    }
    
    
    
                    /*------------------------ Desktop Styles -------------------------------*/
    
                    &{
                        @include respond-to(md){
    
                            .text-content{
                                @include container;
                           
             
                                                 
    
                 
                             .text{
                                 max-width: 40em;
                             }
                             }
             
    
    
                        }
                    }
                    
                }

            /*------------------------ Level 3 page banner layout -------------------------------*/
            .banner-container.level-three-layout{
                
                background-color: $cobaltBlue;
                padding: 7rem 0 5rem 0;

                .text-content{
                   @include container;
              

                                    
                .breadcrumbs-container{

                    @include breadcrumbs;
    
                }
    
                .title-tag{
                    @include title_tag(white, $yellow);
                    margin-bottom: 1.87rem;
                    
    
                }
    
                .heading{
                    @include h-one;
                    color: white;
                    max-width: 10em;
                    margin-bottom: 2.13rem;
                }
    
                .text{
                    @include body;
                    color: white;
                }
                }


                /*------------------------ Desktop Styles -------------------------------*/

                &{
                    @include respond-to(md){

                        .text-content{
                            @include container;
                       
         
                                             

             
                         .text{
                             max-width: 40em;
                         }
                         }
         


                    }
                }
                
            }




}

